
/* Make Clear Refinements Link more noticeable */
.clearRefinements {
  background: #88b3da;
  font-size: 1.1em;
  font-weight: bold;
  padding: 1em;
  text-align: center;
}

/* Make the chat button a normal size */
.siteLinks>div.chat img {
  max-height: none !important;
  max-width: none !important;
}

/* Fix color contrast issues */
holdingsOnly label,
.searchInfo .metadata,
.Filter .count,
.topicSummary .from,
.topicSummary .researchGuides .author {
  color: #575757;
}

.searchInfo .metadata button {
  color: #08c;
}

.languageSwitcher {
    display: none !important;
}

.vpnbanner a {
	/* Why would you make this not look like a link? */
	text-decoration: underline;
}

.chat-button {background:#eee;border: 1px solid #aaa;border-top: 1px solid #ccc;border-left: 1px solid #ccc;-moz-border-radius:.25em;-webkit-border-radius:.25em;border-radius:.25em;color: #444;display: block;font-weight:bold;text-decoration:none;text-shadow: 0 1px rgba(255, 255, 255, .75);cursor: pointer;font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;padding: .333em .75em;font-size:1.2em;line-height:1.3125em;width:35%;float:right;margin-left:2%;margin-top:.25em;}

@media screen and (min-width:1025px) {
.siteHeader .Logo img {
    max-height: 48px !important;
    margin-top: -1em;
}
}
